body{
    color:#E3BF24;
    font-family: sans-serif;
    margin: 0;
}

a {
    color:#E3BF24;
    text-decoration: none;
}

.header {
    background-color: #28281E;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-family: oswald;
}

h1 {
    font-size: 200px;
    padding-left: 70px;
    font-family: pacifico;
}

h2 {
    font-size: 70px;
    padding-left: 120px;
    margin-top: -215px;
    font-family: pacifico;
}